
.content-selector .mobile{
  display: none;
}
.container-collections{
 
    width: 100%;
    max-width: 86.125rem;
    margin: 0 auto;
    padding: 0 32px;
}
.transition {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background: #1d1d1d;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}
.container-collections .content-collections{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
.content-titule{
    margin-top: 5.4375rem;
    margin-bottom: 6rem;
}
.content-titule h1 {
    color: var(--Neutral-Colors-Black, #FFF);
    font-family: "OverusedGroteskLight";
    font-size: 7.576625rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2.425px;
  }
.content-selector{
  display: flex;
  width: 100%;
  
}

.content-selector ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 103px;
  height: 102px;
  margin-right: 7.9375rem;
}

.content-selector li span{
  color: rgb(75, 75, 75);
  text-align: center;
  font-family: "OverusedGrotesk";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 79%; 
  transition: 1s ease;/* 11.06px */
  
}
.content-selector li span:hover{
  color: #FFF;
}

.content-selector .selector-img .text{
  display: flex;
  flex-direction: column;
  font-family: "OverusedGrotesk";
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 1.125rem;
  font-weight: 500;
  line-height: 79%; /* 12.64px */
}
.content-selector .selector-img .text span:last-child{
  color: rgb(75, 75, 75);
  
}
.content-selector .selector-img .container-images{
    display: flex;
    gap:1rem;
    margin-bottom: 5rem;
}
.content-selector .selector-img .image{
   max-width: 17.125rem;
   max-height: 21.3125rem;
   position: relative;
   
}
.content-selector .selector-img .image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-selector .selector-img .image .image-text .text{
  display: flex;
  flex-direction: column;
 
  font-family: "OverusedGrotesk";
  font-size: 1.25rem;
  font-style: normal;

}
.content-selector .selector-img .image .image-text{

  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  
 
}
.content-selector .selector-img .image .image-text .text{
  padding: 5% 12px;
}
.content-selector .selector-img .image .image-button{
  padding: 5% 12px;
}
.content-selector .selector-img .image .button{
  
  border: none;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 8px 22px;

  border-radius: 4.875rem;
}
@media (max-width: 600px) {
  .content-selector .selector-img .image .image-button{
    padding:  0px;
  }
  .content-selector .selector-img .image .image-text .text{
    padding: 5% 0px;
  }
  .content-selector .selector-img .image .button {
    padding: 2px 1px;
  }
  .content-selector .selector-img .image .image-text .text{
    font-size:1rem;
  }
  .content-selector .mobile{
    display: block;
  }
  .content-selector .desktop{
    display: none;
  }
}
@media (max-width: 800px) {
  
  .content-selector{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:5.25rem;
    
  }
  .content-selector{
    display: flex;
    flex-direction: column;
    width: 100%;

    
  }
  .content-selector ul {
    margin: 0px;
    width: 156px;
 
   
   
  }
  .content-selector ul li  span {
    
    font-family: "OverusedGrotesk";
    font-size: 24.23px;
    font-weight: 400;
    line-height: 19.14px;
    text-align: center;

  }

  .content-selector .selector-img .image{
    max-width: 17.125rem;
    max-height: 21.359375rem;
    position: relative;
    
 }
}

