

.container .content{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
.container .content img {
    width: 29vw;
    height: 31vh;
    object-fit: cover;
  } 
  
  
  .item {
    position: relative;
    top: 5vh;
    height: 300px;
    flex: 1;
    display: flex;
    
  }
  
  
  
  .item-main {
    position: relative;
    overflow: hidden;
  }
  
  .item-main .item-img {
    overflow: hidden;
  }
  
  .item-main .item-img img {
    transform: scale(0.5);
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%);
  }
  
  .header {
    position: absolute;
  
    transform-origin: center center;
    width: 100%;
    display: flex;
  
  }
  
  .header-item {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: center;
    transform: scale(0.25);
  }
  
  .header-item-1 {
    left: 18vw;
  }
  
  .header-item-2 {
    right: 18vw;
  }
  
  .letter {
    flex: 1;
    font-size: 25vw;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .letter-wrapper {
    position: relative;
  }

  
  @media (max-width: 900px) {
    .item-side {
      display: none;
    }
  
 
    .header {
      bottom: 45%;
    }
  
    .header-item {
      transform: scale(0.5);
    }
  
    .header-item-1 {
      left: 14vw;
    }
  
    .header-item-2 {
      right: 11vw;
    }
  }
  
  @media (max-width: 900px) {
   
  .item-main .item-img img  {
    width: 35vw;
    height: 80vh;
    object-fit: cover;
    object-position: 75%;
  }
  
  }